.card {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  border: 1.8px solid rgba(245, 245, 245, 0.963);
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;

  //.card__img
  &__img {
    width: 120px;
    height: 125px;
    margin: 0 auto;
  }

  //.card__title
  &__title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
  }
}

.card:hover {
  transform: scale(1.05);
}
